<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="photograph">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Fotografar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sync">
      <ion-icon name="sync"></ion-icon>
      <ion-label>Sincronizar</ion-label>
      <ion-badge>{{ count }}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

