<ion-content padding id="page1" tab="home">
  <div class="spacer" style="width:300px;height:25%;" id="home-spacer1"></div>
  <img src="assets/img/Sl7ZoABwQWBkJ47TkKWx_jw.svg" style="display:block;width:50%;height:auto;margin-top:auto;margin-left:auto;margin-right:auto;" />
  <ion-item style="padding-top: 50px">
    <ion-label>Evento</ion-label>
    <ion-select placeholder="Selecione" [(ngModel)]="event" (ngModelChange)="saveInfo()" style="max-width: 80%;width:80%">
      <ion-select-option *ngFor="let event of events" [value]="event.name">{{ event.name }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item style="margin-top: 15px">
    <ion-input placeholder="Fotógrafo" type="text" [(ngModel)]="photographer" (ngModelChange)="saveInfo()"></ion-input>
  </ion-item>
</ion-content>
