<ion-content padding id="page1">
  <div class="spacer" style="width:300px;height:62px;" id="home-spacer1"></div>
  <img src="assets/img/Sl7ZoABwQWBkJ47TkKWx_jw.svg" style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;" />
  <div class="spacer" style="width:300px;height:62px;" id="home-spacer2"></div>

  <ion-toolbar color="primary">
    <ion-button fill="clear" expand="full" color="light" routerLink="/photograph" routerDirection="forward">
      <ion-icon name="camera"></ion-icon>
      &nbsp;Fotografar
    </ion-button>
  </ion-toolbar>
  <div class="spacer" style="width:300px;height:1px;" id="home-spacer3"></div>
  <ion-toolbar color="primary">
    <ion-button fill="clear" expand="full" color="light" routerLink="/sync" routerDirection="forward">
      <ion-icon name="sync"></ion-icon>
      &nbsp;Sincronizar
    </ion-button>
  </ion-toolbar>
</ion-content>

<ion-footer>
  <div id="home-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#000000;font-size:11px;">
      Última sincronização 14/02/2019 as 14:27
    </p>
    <p style="color:#000000;font-size:11px;">
      8 fotos pendentes
    </p>
  </div>
</ion-footer>
